{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
        }

        thead {
            background-color: #f2f2f2;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .input-year {
            margin:10px;
        }

    </style>
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1>Thống Kê Doanh Thu</h1>
        <form method="get" novalidate>
            <div class="input-year">
                {{ form.as_p }}
            </div>
                <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
        </form>
        <table id="doanhThuTable">
            <thead>
                <tr>
                    <th>Tháng</th>
                    <th>Doanh Thu (VNĐ)</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.0 }}</td>
                    <td>{{ result.1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}